<div class="center-align">
  <h3><b><%= @issue.title %></b></h3>
  <% if @issue.status == "unstarted" %>
    <span class="blue white-text"><%= "ðŸ˜" +  @issue.status.titleize %></span>
  <% elsif @issue.status == "in_progress" %>
    <span class="orange white-text"><%= "ðŸ˜¤" +  @issue.status.titleize %></span>
  <% else %>
    <span class="green white-text"><%= "ðŸ¤©" + @issue.status.titleize %></span>
  <% end %>
  <% if current_user %>
    <%= link_to "ç·¨é›†", edit_issue_path(@issue) %>
    <%= link_to "å‰Šé™¤", @issue, method: :delete,  data: { confirm: "æœ¬å½“ã«å‰Šé™¤ã—ã¾ã™ã‹ï¼Ÿ" } %>
  <% end %>
</div>

<% if @issue.content.present?%>
  <div class="divider"></div>
  <p><%= @issue.content %></p>
<% end %>

