<h3 class="center-align">🔄</h3>

<%= form_with(model: @article, local: true, scope: :article) do |form| %>

  <div class="field">
    <%= form.label :title, "タイトル" %>
    <%= form.text_field :title %>

    <%= form.label :content, "本文" %>
    <%= form.rich_text_area :content %>

    <div class="actions center-align">
    <% if @article.is_published == true && @article.is_draft == false %>
      <%= form.submit "UPDATE", class: "btn" %>
    <% elsif @article.is_published == false && @article.is_draft == true %>
      <%= form.submit "DRAFT", class: "btn", name: "draft" %>
    <% else %>
      <%= form.submit "UPDATE", class: "btn" %>
    <% end %>
    </div>
  </div>
<% end %>
