<nav class="nav-extended teal">
  <div class="nav-wrapper">
    <a onclick="M.toast({html: 'ゆっくりしてけ！'})" class="robot brand-logo right">🤖</a>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li><%= link_to "Home", "/" %></li></li>
      <li><%= link_to "記事一覧", '/articles' %></li>

      <% if user_signed_in? %>
        <li><%= link_to "記事をぶちこむ", "/articles/new" %></li>
        <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
        <li><%= current_user.name %>でログイン中⚡️</li>
      <% end %>
    </ul>
  </div>
</nav>

<ul class="sidenav" id="mobile-demo">
  <li><%= link_to "Home", "/" %></li>
  <li><%= link_to "記事一覧", '/articles' %></li>
  <% if user_signed_in? %>
    <li><%= link_to "記事をぶちこむ", "/articles/new" %></li>
    <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
    <li><%= current_user.name %>でログイン中⚡️</li>
  <% end %>
</ul>

<script>
</script>
