<ul id="dropdown1" class="dropdown-content">
  <li><%= link_to "è¨˜äº‹ã‚’ä½œã‚‹", new_article_path %></li>
  <li><%= link_to "issueã‚’ä½œã‚‹", new_issue_path %></li>
  <li class="divider"></li>
  <li><%= link_to "ãƒ­ã‚°ã‚¢ã‚¦ãƒˆ", destroy_user_session_path, method: :delete %></li>
</ul>
<nav class="teal">
  <div class="nav-wrapper">
    <a onclick="M.toast({html: 'ã‚†ã£ãã‚Šã—ã¦ã‘ã‚ˆï¼'})" class="robot brand-logo right">ðŸ¤–</a>
    <ul class="left">
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Articles", articles_path %></li>
      <li><%= link_to "Issues", issues_path %>
      <% if user_signed_in? %>
        <li><a class="dropdown-trigger" href="#!" data-target="dropdown1"><%= current_user.name %><i class="material-icons right">arrow_drop_down</i></a></li>
      <% end %>
    </ul>
  </div>
</nav>
<script>
  $(".dropdown-trigger").dropdown();
</script>
